<body id=loginForm class="bg-dark">
  <div class="container">

    <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <img src="<%= asset_path 'trackerM.png'%>"  width="40" height="40" class="d-inline-block align-top" alt=""><h3>Tracker M</h3>
        <p> sign up </p>
      </div>

      <%= form_for(resource, as: resource_name, id:'Login', url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <div class="field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control', placeholder:'email' %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <% if @minimum_password_length %>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class:'form-control',placeholder:'password (min 6)' %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control',placeholder:'password confirmation'  %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class:'btn btn-primary' %>
        </div>
      <% end %>

      <br>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</body>